@model QuanApi.Data.LungQuan

<form id="createForm" novalidate>
    <div class="mb-3">
        <label asp-for="MaLungQuan" class="form-label">Mã lưng quần</label>
        <input asp-for="MaLungQuan" class="form-control" required />
        <span asp-validation-for="MaLungQuan" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TenLungQuan" class="form-label">Tên lưng quần</label>
        <input asp-for="TenLungQuan" class="form-control" required />
        <span asp-validation-for="TenLungQuan" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="TrangThai" class="form-check-input" checked />
        <label asp-for="TrangThai" class="form-check-label">Kích hoạt</label>
    </div>
</form>