@model QuanApi.Dtos.UpdateKhachHangDto 

@{
    ViewData["Title"] = "Chỉnh sửa Khách Hàng";
}

<h1>Chỉnh sửa Khách Hàng</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDKhachHang" /> 
            
            <div class="form-group">
                <label asp-for="MaKhachHang" class="control-label"></label>
                <input asp-for="MaKhachHang" class="form-control" />
                <span asp-validation-for="MaKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhachHang" class="control-label"></label>
                <input asp-for="TenKhachHang" class="form-control" />
                <span asp-validation-for="TenKhachHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" type="password" class="form-control" placeholder="Để trống nếu không muốn thay đổi mật khẩu" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            

            <div class="form-group mt-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}