@model QuanApi.Data.MauSac

<form id="createForm" novalidate>
    <div class="mb-3">
        <label asp-for="MaMauSac" class="form-label">Mã màu sắc</label>
        <input asp-for="MaMauSac" class="form-control" required />
        <span asp-validation-for="MaMauSac" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TenMauSac" class="form-label">Tên màu sắc</label>
        <input asp-for="TenMauSac" class="form-control" required />
        <span asp-validation-for="TenMauSac" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="TrangThai" class="form-check-input" checked />
        <label asp-for="TrangThai" class="form-check-label">Kích hoạt</label>
    </div>
</form> 