@model QuanApi.Data.KieuDang

<form id="createForm" novalidate>
    <div class="mb-3">
        <label asp-for="MaKieuDang" class="form-label">Mã kiểu dáng</label>
        <input asp-for="MaKieuDang" class="form-control" required />
        <span asp-validation-for="MaKieuDang" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TenKieuDang" class="form-label">Tên kiểu dáng</label>
        <input asp-for="TenKieuDang" class="form-control" required />
        <span asp-validation-for="TenKieuDang" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="TrangThai" class="form-check-input" checked />
        <label asp-for="TrangThai" class="form-check-label">Kích hoạt</label>
    </div>
</form>