@model QuanApi.Data.KichCo

<form id="createForm" novalidate>
    <div class="mb-3">
        <label asp-for="MaKichCo" class="form-label">Mã kích cỡ</label>
        <input asp-for="MaKichCo" class="form-control" required />
        <span asp-validation-for="MaKichCo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TenKichCo" class="form-label">Tên kích cỡ</label>
        <input asp-for="TenKichCo" class="form-control" required />
        <span asp-validation-for="TenKichCo" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="TrangThai" class="form-check-input" checked />
        <label asp-for="TrangThai" class="form-check-label">Kích hoạt</label>
    </div>
</form> 